<!doctype html>
<html>
    <head>
        <title>Wis 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      </head>
    <div>
        <ul class="nav">
        <li><a href = "https://www.fit.vut.cz/.cs"><img class="FITlogo" src="https://pbs.twimg.com/profile_images/658660856683610113/JLVEZWf9_400x400.png" alt="FIT"></a></li>
        <li><a href = "{{url_for('kurzy')}}">Kurzy</a></li>
        <li><a href = "{{url_for('mainPage')}}">Home</a></li>
        {% block content %}
        {% if login == "admin" %}
        <li><a href= "{{url_for('spravaServeru')}}">Správa Servera</a></li>
        {% endif %}
        {% if login != "" %}
        <li><a href = "{{url_for('logout')}}">Garantované Kurzy</a></li>
        <li><a href = "{{url_for('logout')}}">Učené Kurzy</a></li>
        <li><a href = "{{url_for('mojProfil')}}">Môj Profil</a></li>
        <li><a href= "{{url_for('addCourse')}}">Pridanie Kurzu</a></li>
        <li><a href = "{{url_for('logout')}}">Logout</a></li>
        {%else%}
        <li><a href = "{{url_for('login')}}">Login</a></li>
        {% endif %}
    </ul>
    </div>
    <div>
        <button><a href = "{{url_for('mainPage')}}">Back</a></button>
    </div>
    <h3>Pridanie kurzu</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=150) }}
        </p>
        <p>
            {{ form.type}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
</html>