<!doctype html>
<html>
    <div>
        <a href = "{{url_for('login')}}">Login</a>
        <a href = "{{url_for('mainPage')}}">Home</a>
        <a href = "{{url_for('logout')}}">Logout</a>
    </div>
    {% block content %}
    <h1>{% block title %} Kurzy {% endblock %}</h1>
    {% for course in courses %}
        {%if course[4] == True %}
            <div class='course'>
                <h3>#{{ course[0] }} vyučuje: {{ course[1] }}</h3>
                <h4 class='popis'>Popis: {{ course[3] }}</h4>
            </div>
        {%endif%}
    {% endfor %}
{% endblock %}
</html>