<!doctype html>
<html>
    <head>
        <title>Wis 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      </head>
    <div>
        <ul class="nav">
        <li><a href = "https://www.fit.vut.cz/.cs"><img class="FITlogo" src="https://pbs.twimg.com/profile_images/658660856683610113/JLVEZWf9_400x400.png" alt="FIT"></a></li>
        <li><a href = "{{url_for('mainPage')}}">Home</a></li>
        {% block content %}
        {% if login == "admin" %}
        <li><a href= "{{url_for('spravaServeru')}}">Správa Servera</a></li>
        {% endif %}
        {% if login != "" %}
        <li><a href = "{{url_for('garantedCourses')}}">Garantované Kurzy</a></li>
        <li><a href = "{{url_for('taughtCourses')}}">Učené Kurzy</a></li>
        <li><a href = "{{url_for('myCourses')}}">Navštevované Kurzy</a></li>
        <li><a href = "{{url_for('mojProfil')}}">Môj Profil</a></li>
        <li><a href= "{{url_for('addCourse')}}">Pridanie Kurzu</a></li>
        <li><a href = "{{url_for('logout')}}">Logout</a></li>
        {%else%}
        <li><a href = "{{url_for('login')}}">Login</a></li>
        {% endif %}
    </ul>
    <h1>{% block title %} {{course}} {% endblock %}</h1>
        <table>
            <tr>
            <th class="wisblue">Id</th>
            <th class="wisblue">Typ</th>
            <th class="wisblue">Miestnost</th>
            <th class="wisblue">Meno</th>
            <th class="wisblue">Popis</th>
            <th class="wisblue">Dátum</th>
            </tr>
            {%if terminy != ""%}
                {%for termin in terminy%}
                {%for term in termin%}
                <tr>
                    <th>{{term[0]}}</th>
                    <th>{{term[1]}}</th>
                    <th>{{term[2]}}</th>
                    <th>
                        <form action="{{url_for('terminDetail')}}" method="POST">

                            <input type="hidden" name="termin" value="{{term[0]}}" />
                            
                            <a href="#" onclick="this.parentNode.submit()">{{term[3]}}</a>
                            
                            </form>
                        </th>
                    <th>{{term[4]}}</th>
                    <th>{{term[5]}}</th>
                </tr>
                {%endfor%}
                {%endfor%}
            {%endif%}
    
        </table>
        <p>{{news}}</p>
{% endblock %}
</html>