<!doctype html>
<html>
    <div>
        <a href = "{{url_for('login')}}">Login</a>
        <a href = "{{url_for('mainPage')}}">Kurzy</a>
        <a href = "{{url_for('logout')}}">Logout</a>
        {% block content %}
        {% if login == "admin" %}
        <a href= "{{url_for('mainPage')}}">Správa Servera</a>
        {% elif login == "" %}
        <a href= "{{url_for('registration')}}">Registrace</a>
        {% endif %}
    </div>
    <h1>Vytaj na najlešej a najsofistikovanejšej Houm Páži</h1>
    <h1>{% block title %} Books {% endblock %}</h1>
    {% for user in users %}
        <div class='user'>
            <h3>#{{ user[0] }} - {{ user[1] }} BY {{ user[2] }}</h3>
            <i><p>({{ user[2] }} name)</p></i>
            <p class='adress'>{{ user[3] }}</p>
            <i><p>enrollment_date {{ user[4] }}</p></i>
        </div>
    {% endfor %}
{% endblock %}
    <a href = "{{url_for('login')}}">Login</a>
</html>