<!doctype html>
<html>
    <head>
        <title>Wis 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      </head>
    <div>
        <ul class="nav">
        <li><a href = "https://www.fit.vut.cz/.cs"><img class="FITlogo" src="https://pbs.twimg.com/profile_images/658660856683610113/JLVEZWf9_400x400.png" alt="FIT"></a></li>
        <li><a href = "{{url_for('mainPage')}}">Home</a></li>
        {% block content %}
        {% if login == "admin" %}
        <li><a href= "{{url_for('spravaServeru')}}">Správa Servera</a></li>
        {% endif %}
        {% if login != "" %}
        <li><a href = "{{url_for('garantedCourses')}}">Garantované Kurzy</a></li>
        <li><a href = "{{url_for('taughtCourses')}}">Učené Kurzy</a></li>
        <li><a href = "{{url_for('myCourses')}}">Navštevované Kurzy</a></li>
        <li><a href = "{{url_for('mojProfil')}}">Môj Profil</a></li>
        <li><a href= "{{url_for('addCourse')}}">Pridanie Kurzu</a></li>
        <li><a href = "{{url_for('logout')}}">Logout</a></li>
        {%else%}
        <li><a href = "{{url_for('login')}}">Login</a></li>
        {% endif %}
    </ul>
    </div>    

    <div>
            <button><a href = "{{url_for('mainPage')}}">Back</a></button>
        </div>
        <h1>Správa uživatela</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.userSelector.label}}
                {{ form.userSelector}}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        <button><a href = "{{url_for('login')}}">Správa Uživateľov</a></button><br>
        <button><a href = "{{url_for('login')}}">Správa Kurzov</a></button><br>
        <button><a href = "{{url_for('login')}}">Zadávanie Miestností</a></button>
    {% endblock %}
</html>