<head>
    {%block head%}
    <title>Wis 2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {%endblock%}
  </head>
{% block navbar %}
<div>
    <ul>
    <li><a href = "{{url_for('login')}}">Login</a></li>
    <li><a href = "{{url_for('kurzy')}}">Kurzy</a></li>
    <li><a href = "{{url_for('mainPage')}}">Home</a></li>
    <li><a href = "{{url_for('logout')}}">Logout</a></li>
    <li><a href = "{{url_for('logout')}}">Učené Kurzy</a></li>
    
    {% if login == "admin" %}
    <li><a href= "{{url_for('spravaServeru')}}">Správa Servera</a></li>
    {% endif %}
    {% if login != "" %}
    <li><a href= "{{url_for('addCourse')}}">Pridanie kurzu</a></li>
    {% endif %}
    </ul>
</div>
{%endblock%}