<!doctype html>
<html>
    <head>
        <title>Wis 2</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <div>
        <ul class="nav">
        <li><a href = "https://www.fit.vut.cz/.cs"><img class="FITlogo" src="https://pbs.twimg.com/profile_images/658660856683610113/JLVEZWf9_400x400.png" alt="FIT"></a></li>
        <li><a href = "{{url_for('kurzy')}}">Kurzy</a></li>
        <li><a href = "{{url_for('mainPage')}}">Home</a></li>
        {% block content %}
        {% if login == "admin" %}
        <li><a href= "{{url_for('spravaServeru')}}">Správa Servera</a></li>
        {% endif %}
        {% if login != "" %}
        <li><a href = "{{url_for('garantedCourses')}}">Garantované Kurzy</a></li>
        <li><a href = "{{url_for('logout')}}">Učené Kurzy</a></li>
        <li><a href = "{{url_for('logout')}}">Navštevované Kurzy</a></li>
        <li><a href = "{{url_for('mojProfil')}}">Môj Profil</a></li>
        <li><a href= "{{url_for('addCourse')}}">Pridanie Kurzu</a></li>
        <li><a href = "{{url_for('logout')}}">Logout</a></li>
        {%else%}
        <li><a href = "{{url_for('login')}}">Login</a></li>
        {% endif %}
    </ul>
    </div>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table>
                <tr>
                <th>Login</th>
                <th>Body</th>
                <th></th>
                </tr>
                <tr>
                    <th><p>
                        {{ form.login.label}}
                    </p></th>
                    <th><p>
                        {{ form.points}}
                    </p></th>
                    <th><p>
                        {{ form.submit() }}
                    </p></th>
                </tr>
            </table>
        {% endblock %}
    </form>
</html>