.nav {
  margin: -10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 135, 198);
}
  
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
  border-right: 1px solid;
}

img {
  width: 48px;
  margin: -18px;
}

a {
  color: rgb(0, 135, 198);
}

p {
  font-weight: bold;
  font-size: large;
}

table, th, td {
  border: 1px solid;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  border-color: rgb(113, 113, 113);
  background-color: rgb(247, 247, 175);
  border-collapse: collapse;
}

.wisblue {
  background-color: rgb(173, 216, 230);
}

li a:hover {
  background-color: rgb(44, 185, 241);
}

button {
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid;
}

input[type=button], input[type=submit], input[type=reset] {
  border-radius: 4px;
  border: 1px solid;
}

button:hover, input:hover[type=button], input:hover[type=submit], input:hover[type=reset] {
  border-color: rgb(0, 135, 198);
}

a {
  text-decoration: none;
}

